<div class="card" *ngIf="customer">
  <div class="card-header">Customer Details</div>
  <div class="card-body">
    <p><b>ID:</b> {{customer.id}}</p>
    <p><b>Name:</b> {{customer.name}}</p>
    <p><b>Email:</b> {{customer.email}}</p>
    <h5>Contracts</h5>
    <table class="table table-bordered">
      <tr><th>Id</th><th>Type</th><th>Status</th><th>Amount</th></tr>
      <tr *ngFor="let c of contracts"><td>{{c.id}}</td><td>{{c.type}}</td><td>{{c.status}}</td><td>{{c.contributionAmount}}</td></tr>
    </table>
  </div>
</div>
