<div class="card">
  <div class="card-header">Nouveau client</div>
  <div class="card-body" *ngIf="mode=='new'">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Nom</label>
        <input class="form-control" [(ngModel)]="customer.name">
      </div>
      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input class="form-control" [(ngModel)]="customer.email">
      </div>
    </div>
    <div class="mt-4">
      <button class="btn btn-primary" (click)="saveCustomer()">Enregistrer</button>
    </div>
  </div>
  <div class="card-body" *ngIf="mode=='confirm'">
    <div class="alert alert-success">Client enregistré avec l'identifiant {{customer.id}}</div>
    <button class="btn btn-primary" (click)="newCustomer()">Nouveau</button>
  </div>
</div>
